*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# 🔒 Signing keys (절대 커밋 금지)
keystore.properties
*.jks
*.keystore

# (선택) 빌드 산출물
app/release/
app/debug/
