<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carchecking">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:allowBackup,android:label,android:icon,android:roundIcon,android:theme">

        <!-- 런처 액티비티 (이미 있을 수 있음) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ 선적 화면: 딱 1번만 선언 -->
        <activity
            android:name=".ShippingCheckActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
        android:name=".CheckListActivity"
        android:exported="false"
        android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LogActivity"
            android:label="로그"
            android:exported="false" />
        <!-- 여기에 기존 다른 activity/service/provider 선언들이 올 수 있음 -->
    </application>

</manifest>
